<div class="row text-center">
    <div class="col">
        <h1>Contador Padre</h1>
        <h2>{{ contador }}</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button class="btn btn-primary" (click)="Incrementar()">Incrementar</button>
        <button class="btn btn-info" (click)="Drecrementar()">Drecementar</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <!--con [contador] se envian los datos al componente hijo-->
        <!--El escucha los cambios desde el hijo y nieto -->
        <!-- [contador]="contador" (cambioContadorHijo)="contador = $event" -->
        <app-hijo></app-hijo>
        <!--Asi se usa con el patron Reduzx ngrx-->
    </div>
</div>